<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>This is the HOME page</h1>
    <p>Welcome to my <%= title %></p>
    <li><a href="/register">Sign Up!</a></li>
  </body>
</html>
