<% include ./partials/header %>

    <h1>This is the HOME page</h1>
    <p>Welcome to my Authentication Demo App</p>
    <li><a href="/register">Sign Up!</a></li>
    <li><a href="/login">Login!</a></li>
    <li><a href="/logout">Logout!</a></li>


<% include ./partials/footer %>
