body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ff9100;
}

a {
  color: #ff22ff;
  background: #000000
}

.footer {
  margin-top: 65%;
  text-align: center;

}